#include "Flutter/Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-development.xcconfig"
TRACK_WIDGET_CREATION=

FLUTTER_FLAVOR=development
FLUTTER_TARGET=$PROJECT_DIR/../lib/main.dart
PRODUCT_BUNDLE_IDENTIFIER=io.github.ahiroshima.book-list
DISPLAY_NAME=FAB-dev

FIREBASE_DIR=$PROJECT_DIR/$PROJECT_NAME/Resources/Firebase/Development

// GOOGLE prefix key configs were copied from GoogleService-Info.plist
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.576245132800-9uiicppsqd7leg0dc03i7nau2m26hleq
