#include "Flutter/Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-production.xcconfig"
TRACK_WIDGET_CREATION=

FLUTTER_FLAVOR=production
FLUTTER_TARGET=$PROJECT_DIR/../lib/main.dart
PRODUCT_BUNDLE_IDENTIFIER=io.github.ahiroshima.book-list
DISPLAY_NAME=FAB

FIREBASE_DIR=$PROJECT_DIR/$PROJECT_NAME/Resources/Firebase/Production

// GOOGLE prefix key configs were copied from GoogleService-Info.plist
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.576245132800-9uiicppsqd7leg0dc03i7nau2m26hleq
